.activity {
    height: 320px;
    width: 835px;
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.activity h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #20253A;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.legends {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 277px;
}

.legend {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #74798C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;

    margin-right: 10px;
}

.red {
    background: red;
}

.black {
    background: black;
}

@media screen and (max-width: 1300px) {
    .activity {
        width: 795px;
    }
}